gbtmaker = {
  # rpc call interval seconds
  rpcinterval = 10;

  # check zmq when startup
  is_check_zmq = true;

  rawgbt_topic = "QitmeerRawGbt";

};

qitmeerd = {
  # qitmeerd MUST with zmq options: --zmqpubhashblock, --zmqpubhashtx
  zmq_addr = "tcp://127.0.0.1:8331";
  # reconnect if no new messages are received after the following number of seconds
  zmq_timeout = 1200;

  # rpc settings
  rpc_addr    = "http://127.0.0.1:8332";
  rpc_userpwd = "qitmeerrpc:xxxxxxxxxxxxxxxxxxxxxxxxxx";  # username:password
};

kafka = {
  brokers = "127.0.0.1:9092"; # "10.0.0.1:9092,10.0.0.2:9092,..."
};
